<div class="grid-content left flex grid-6">
                     <div id="flexlayout" class="flex--column">
                        <div class="flex--header flex--row">
                           <div class="flex--fill--blue"></div>
                           <div class="flex--fill"></div>
                           <div class="flex--fill"></div>
                        </div>
                        <div class="flex--hero">
                           <div class="flex--fill">
                              <div class="flex--border"></div>
                              <div class="flex--border"></div>
                           </div>
                           <div>
                              <div class="flex--fill--blue"></div>
                              <div></div>
                              <div class="flex--fill"></div>
                           </div>
                        </div>
                     </div>
                  </div>