{% extends '_layout' %}
{% block main %}
<!-- ===================== HERO ===================== -->
{% set entry = craft.entries.section('Homepage').one %}
<div class="blue">
   <div class="hero wrapper">
      <div class="herotext" data-type='parallax' data-depth='-0.3'>
         <span class="gilroy">
            {{entry.heroslogan}}
            <div class="custom-hr">
               <span></span>
               <div class="diamond"></div>
               <span></span>
            </div>
         </span>
         <h1>{{entry.herotitle|nl2br|raw}}</h1>
      </div>
      <svg class="hero-circle2" data-type='parallax' data-depth='0.1'>
         <circle cx="200" cy="200" r="30%"
            style="fill:#fff;fill-opacity:0.05;" />
      </svg>
   </div>
   <div class="geometry">
      <svg class="hero-rectangle" data-type='parallax' data-depth='-0.5' viewBox="0 0 13 14">
         <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z" style="fill:#fff;fill-opacity:0.05;" />
      </svg>
      <svg class="hero-circle" data-type='parallax' data-depth='-0.3'>
         <circle cx="200" cy="200" r="40%"
            style="fill:#fff;fill-opacity:0.05;" />
      </svg>
   </div>
</div>
<div class="w wave"></div>
<script type="text/javascript">
   var checkedRadio;
   function ClearRd(o)
   {
    if (checkedRadio == o)
    {
       o.checked = false;
       checkedRadio = null;
    } else {
      checkedRadio = o;
    }
   }
</script>
<!-- ===================== 4-GRID ===================== -->
<div class="herogrid wrapper-content">
	<div class="wrapper">
		<div class="bg">	
         <h2 class="center">Lorem Ipsum</h2>
         <div class="custom-hr">
            <div class="diamond"></div>
         </div>
         <div class="grid-check">
            <input type="radio" name="accDuvidas" id="accDuvidas-1" onclick="ClearRd(this)"/>
            <label for="accDuvidas-1">
               <div class="grid" >
                  <div class="hug-left background_number" data-type='parallax' data-depth='0.1'>1</div>
                  <div class="grid-content left grid-5">
                     <h3>Kontakt & Erstgespräch</h3>
                     <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate.</p>
                     <span class="down"></span>
                  </div>
                  <div class="grid-content right"></div>
               </div>
            </label>
            <div class="grid-extend">
               <p>1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate. Minus soluta facere necessitatibus quos perspiciatis ad? Harum?</p>
            </div>
         </div>
     </div>	
	
 </div>
 <div class="bg-diff grey">
 	<div class="w2 wave"></div>
     <div class="wrapper">
         <div class="grid-check">
            <input type="radio" name="accDuvidas" id="accDuvidas-2" onclick="ClearRd(this)" />
            <label for="accDuvidas-2">
               <div class="grid">
                  <div class="hug-right background_number" data-type='parallax' data-depth='0.1'>2</div>
                  <div class="grid-content right grid-5">
                     <h3>Design</h3>
                     <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate.</p>
                     <span class="down"></span>
                  </div>
                  {% include 'flexboxes' %}
               </div>
            </label>
            <div class="grid-extend">
               <p>2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate. Minus soluta facere necessitatibus quos perspiciatis ad? Harum?</p>
            </div>
         </div>
     </div>
 </div>
 <div class="bg-diff white">
    <div class="w3 wave"></div>
     <div class="wrapper">
         <div class="grid-check">
            <input type="radio" name="accDuvidas" id="accDuvidas-3" onclick="ClearRd(this)" />
            <label for="accDuvidas-3">
               <div class="grid">
                  <div class="grid-content left grid-5">
                     <div class="hug-left background_number" data-type='parallax' data-depth='0.1'>3</div>
                     <h3>Programmierung</h3>
                     <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate.</p>
                     <span class="down"></span>
                  </div>
                  <div class="grid-content right grid-6" >
                  	{% include 'codetyping' %}
                  </div>
               </div>
            </label>
            <div class="grid-extend">
               <p>3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate. Minus soluta facere necessitatibus quos perspiciatis ad? Harum?</p>
            </div>
         </div>
     </div>
 </div>
 <div class="bg-diff grey">
 	<div class="w2 wave"></div>
     <div class="wrapper">
         <div class="grid-check">
            <input type="radio" name="accDuvidas" id="accDuvidas-4" onclick="ClearRd(this)" />
            <label for="accDuvidas-4">
               <div class="grid">
                  <div class="grid-content right">
                     <div class="hug-right background_number" data-type='parallax' data-depth='0.1'>4</div>
                     <h3>Livegang & Übergabe</h3>
                     <p>Lorem ipsum dolor sit amet</p>
                     <span class="down"></span>
                  </div>
                  <div class="grid-content left" style="background-image: url({{ siteUrl }}img/ready.jpg)"></div>
               </div>
            </label>
            <div class="grid-extend">
               <p>4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate. Minus soluta facere necessitatibus quos perspiciatis ad? Harum?</p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="clearfix"></div>
{% endblock %}