{% extends '_layout' %}
{% block main %}
<!-- ===================== HERO ===================== -->
<div class="hero">
	<canvas id='canv'></canvas>
	<video playsinline autoplay muted loop id="bgvid">
    	<source src="stockimage/bg.mp4" type="video/mp4">

    </video>

   <div class="w wave"></div>
   <!--<div class="w wave2"></div>
   <div class="w wave3"></div>
   <div class="w wave4"></div>-->
    <div class="herotext">
	    <span class="handwritten">Lorem Ipsum Dolor<div class="custom-hr"></div></span>

	    <h1>Lorem ipsum dolor sit amet<br/> consectetur adipisicing elit.<br/>Totam, corporis, tempore!</h1>
	</div>
</div>


	<!-- ===================== 4-GRID ===================== -->
	<div class="herogrid">
		<div class="grid-1">
			<div>1</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, corporis, tempore! Neque amet reiciendis a molestiae voluptatem mollitia nostrum, exercitationem quisquam? Optio voluptatibus dolorum sint at quos unde perferendis ut.</p>
			<div class="grid-extend">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate. Minus soluta facere necessitatibus quos perspiciatis ad? Harum?</p>
			</div>
		</div>
		<div class="grid-2">
			<div>2</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, corporis, tempore! Neque amet reiciendis a molestiae voluptatem mollitia nostrum, exercitationem quisquam? Optio voluptatibus dolorum sint at quos unde perferendis ut.</p>
		</div>
		<div class="grid-3">
			<div>3</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, corporis, tempore! Neque amet reiciendis a molestiae voluptatem mollitia nostrum, exercitationem quisquam? Optio voluptatibus dolorum sint at quos unde perferendis ut.</p>
		</div>
		<div class="grid-4">
			<div>4</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, corporis, tempore! Neque amet reiciendis a molestiae voluptatem mollitia nostrum, exercitationem quisquam? Optio voluptatibus dolorum sint at quos unde perferendis ut.</p>
		</div>
	</div>





{% endblock %}